[project]
name = "meshitouban"
version = "0.1.0"
description = "今日飯を作るやつは誰だ！"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "discord-py>=2.6.4",
]

[dependency-groups]
dev = [
    "pytest>=9.0.2",
    "ruff>=0.15.1",
]
