---
name: autofix.ci
on: pull_request
permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-slim
    timeout-minutes: 15
    steps:
      - name: Checkout the repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Install aqua
        uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.6
      - name: Fix aqua-checksums.json
        run: aqua upc -prune

      - name: Run autofix.ci
        uses: autofix-ci/action@7a166d7532b277f34e16238930461bf77f9d7ed8 # v1.3.3